.hidden {
    display: none !important;
}
.cf7-step-confirm-value img {
    width: 96px;
    height: auto;
    display: inline-block;
}
.cf7-new-tab .wpcf7-not-valid-tip{
    display: none;
}
.wpcf7-not-valid1{
  color: red;
}
.cf7-display-steps-container p {
    padding: 0 !important;
    margin: 0 !important;
}
.multistep-cf7-first {
  margin-right: 15px;
}
.ui-timepicker-container{
    z-index: 999999999999999 !important;
}
.cf7-display-steps-container {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
    background: transparent !important;
    display: flex;
}
.cf7-display-steps-container-5+.container-body-tab {
    margin-top: 50px;
}
.container-body-tab {
    margin-top: 30px;
}
.cf7-display-steps-container li {
    display: block;
    list-style: none;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px !important;
    box-sizing: border-box;
    height: 40px;
    line-height: 23px;
}
.cf7-display-steps-container li strong {
    padding-right: 10px;
}
.cf7-steps-container {
    clear: both;
    margin-top: 15px;
}
.wp-picker-clear {
    display: none !important;
}
.cf7-display-steps-container .after {
    content: " ";
    clear: both;
    display: block;
}
/*
* Style Horizontal (3)
*/
.container-cf7-steps-3 {
    display: flex;
}
.cf7-display-steps-container-3 li {
    padding: 10px 20px !important;
    box-sizing: border-box;
}
.cf7-display-steps-container-3{
        flex-wrap: wrap;
}
  .container-cf7-steps-3>div {
    width: 100%;
  }
  .container-cf7-steps-3 .container-multistep-header{
    flex-shrink: 3;
    margin-top: 30px;
  }
  .container-cf7-steps-3 .container-body-tab {
    margin-left: 30px;
  }
  .cf7-display-steps-container-3 li{
    display: block;
  }
/*
* Style Horizontal (4)
*/
.container-cf7-steps-4 {
    display: flex;
}
.cf7-display-steps-container-4 li {
    padding: 10px 20px !important;
    box-sizing: border-box;
}
.cf7-display-steps-container-4{
        flex-wrap: wrap;
}
  .container-cf7-steps-4>div {
    width: 100%;
  }
  .container-cf7-steps-4 .container-multistep-header{
    flex-shrink: 3;
    margin-top: 30px;
    order: 2
  }
  .container-cf7-steps-4 .container-body-tab {
    margin-right: 30px;
  }
  .cf7-display-steps-container-4 li{
    display: block;
  }
/*
* Style arow (1)
*/
.cf7-display-steps-container-1 li{
    padding: 10px 20px !important;
    margin-right: 15px;
    box-sizing: border-box;
    position: relative;
}
.cf7-display-steps-container-1 li:first-child .before {
    display: none;
}
.cf7-display-steps-container-1 li .before {
    border-left: 16px solid #fff;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.cf7-display-steps-container-1 li .before {
}
.cf7-display-steps-container-1  li .after {
     content: '';
    border-left: 16px solid #B6D7EA;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
}
.cf7-display-steps-container li.enabled .after {
   border-left: 16px solid #3491C4;
}
.cf7-display-steps-container li.active .after {
   border-left: 16px solid #5fc562;
}
.cf7-prev-container{
    width: 50%;
    float: left;
}
.cf7-next-container {
    width: 50%;
    float: right;
    text-align: right;
}
.cf7-steps-pn-container a{
    padding: 5px 20px;
    background: #5fc562;
    color: #fff !important;
    border-radius: 3px;
    text-decoration: none;
}
.cf7-steps-pn-container a:hover {
    opacity: 0.8;
}
/*
* Style (2)
*/
.cf7-display-steps-container-2 li {
    margin-right: 15px;
    text-align: center;
}
/*
* Style progressbar (4)
*/
.multistep-nav-right .ajax-loader.hidden {
    display: none;
}
.multistep-nav-right .ajax-loader{
    visibility: inherit !important;
}
.cf7-step-confirm-title {
    padding-bottom: 10px;
    font-size: 19px;
    border-bottom: 1px solid #EEE;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 600;
}
.cf7-step-confirm-item {
    display: flex;
    padding: 5px;
}
.cf7-step-confirm-name {
  width: 30%;
  text-align: right;
  padding-right: 15px;
  min-width: 250px;
}
@media (max-width: 992px) {
  .cf7-display-steps-container {
    flex-wrap: wrap;
  }
}
.cf7-display-steps-container-5 {
    display: flex;
} 
.cf7-display-steps-container-5 li {
    list-style-type: none;
    padding: 0 0px 0 30px;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
    width: 100%;
    font-weight: bold;
}
.cf7-display-steps-container-5 li span.before {
    width: 40px;
    height: 40px;
    content: "";
    line-height: 40px;
    display: block;
    text-align: center;
    margin: 0 auto 3px auto;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    background-color: #666;
    color: #fff;
}
.cf7-display-steps-container-5 li span.after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 20px;
    left: -50%;
    z-index: 0;
}
.cf7-display-steps-container-5 li:first-child  span.after {
    display: none;
}
.cf7-display-steps-container-5 li.active {
  color: green;
  font-weight: bold;
}
.cf7-display-steps-container-5 li.active .before {
  border-color: #55b776;
  background: green;
  font-size: 18px;
}
.container-cf7-steps-6 .cf7-display-steps-container-5 li .before,
.container-cf7-steps-8 .cf7-display-steps-container-5 li .before {
  border-radius: 5px;
}
.container-cf7-steps-7 .cf7-display-steps-container-5 li.active .before,
.container-cf7-steps-8 .cf7-display-steps-container-5 li.active .before  {
    border: 2px solid white;
    box-shadow: 0 0 0 2px #3cb371;
}
.multistep-nav a {
    border-radius: 3px;
}
.multistep-nav a:hover {
    opacity: 0.7;
}
.multistep-nav {
    display: flex;
    margin: 30px 0;
}
.multistep-nav div {
    width: 100%;
}
.multistep-nav-right {
    text-align: right;
}
.cf7-display-steps-container-1 li:last-child .after {
    display: none !important;
}
body .container-cf7-steps-5 p {
    margin-top: 0;
}
@media only screen and (max-width: 999px) {
  /* For mobile phones: */
 .container-cf7-steps-5 .after{
    display: none;
  }
  .container-cf7-steps-5 p, .container-cf7-steps-5 li {
    display: inline-block;
    width: auto;
    height: 60px;
  }
}